<!DOCTYPE html>
<html lang="<%= current_language %>">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title><%= html_title %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'jquery/jquery-ui-1.11.0', 'application', 'responsive', :media => 'all' %>
  <%= stylesheet_link_tag 'rtl', :media => 'all' if l(:direction) == 'rtl' %>
  <%= javascript_heads %>
  <%= heads_for_theme %>
  <!-- page specific tags -->
  <%= yield :header_tags -%>
</head>
<body class="<%= body_css_classes %>">
<div id="wrapper">

  <div id="main" class="nosidebar">
    <div id="content">
      <%= yield %>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>
</body>
</html>
